{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style>

    h1 {
        margin-top: 100px;
        margin-bottom: 10px;
    }

    h6 {
        color: gray;
        margin-top: 10px;
        margin-bottom: 100px;
    }

    #email-form {
        margin: auto;
        margin-bottom: 100px;
    }

    span {
        display: block;
        overflow: hidden;
        width: 400px;
        float: right;
    }

    #reset_button {
        margin: auto;
        margin-bottom: 20px;
    }

    #message {
        color: gray;
    }
</style>

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h6>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h6>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3" id="email-form"> 
                <label for="id_email">이메일</label> 
                <span>
                    <input type="email" class="form-control" name="email" placeholder="이메일 주소" autocomplete="email" required id="id_email">
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" id="reset_button"> <!--문제) sm보다 작아지는 경우 화면의 width와 로그인 버튼의 width가 일치함.-->
              <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin:auto;">{% trans 'Reset My Password' %}</button>
            </div>
        </div>
    </form>

    <p id="message">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
