{% extends "base.html" %} <!-- base.html 파일(템플릿을 구성하는 파일)을 현재 html에 적용시켜주는 부분(아랫줄의 load static도 같이 있어야 됩니당)-->
{% load static %}

{% load socialaccount %}
{% providers_media_js %}


{% block title %}
    <title>Index Page</title>
    <style>
        body{
            background-image: url("https://hilton.co.kr/static/upload/hotel_main_20141216152900_lg_pc.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
      </style>
{% endblock title %}


{% block contents %}
    <h1>DB Hotel</h1>
    <a href="/accounts/signup">회원가입</a> 

    {% if request.user.is_superuser %}
    <!-- IF 관리자 계정(superuser로 로그인 검증) 로그인 된 상태일시 실행되는 부분 -->
        <h2>
            당신은 관리자 유저입니다. (현재 Super User로 로그인)

            <a href="/accounts/logout">로그아웃</a>
        </h2>
            <a href="/create_reservation_calendar">예약석 초기화</a>
            <a href="/delete_reservation_calendar">예약석 삭제</a>
            
        <a href="/admin">관리자 페이지</a>

    
    {% else %}
        <!-- IF 관리자 계정 로그인 안 되었으면 실행되는 부분 (ELSE) -->
        {% if user.is_authenticated %}
        <!-- IF 일반 유저 계정 로그인 되었으면 실행되는 부분 -->
        {% now "Y-m-d" as todays_date %}
        <a href="/accounts/logout">로그아웃</a>
        {% csrf_token %}
        <h1>일반 유저로 로그인 중</h1>

            <div>
                <h3>예약 페이지</h3>
                <a href="/reservation">예약하러 가기</a>
                <div class="row">
                {% for days in reserv_day %}
                    <div class="col col-sm-2" style=" height: 200px; border:1px solid cadetblue; background-color: azure; font-size: 30px; font-weight: bolder;">
                    {% if days.day|date %}
                        <a> {{ days.day|date:"Y-m-d" }} </a> <br />

                        <p> {{ room_list }} </p>

                    {% endif %}
                    
                    </div>
                {% endfor %}
                </div>
            </div>

        {% else %}
        <!-- 일반 유저 계정으로도 로그인 안 되었으면(비로그인 상태) 실행되는 부분 -->
        <a href="{% provider_login_url 'google' %}">Google 로그인</a>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div>
                <br />
                <div>
                    <h3 style="display: inline; ">이름 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3>
                    <input name="username" type="text" required> <br />
                    <h3 style="display: inline;">비밀번호 &nbsp;</h3>
                    <input name="password" type="password" required>
                </div>
                <p>TEST 계정 : user / user1234</p>
                <br />
                <button type="submit">로그인</button>
            </div>
        </form>    
        {% endif %}
    {% endif %}


{% endblock contents %}