{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>login</title>
{% endblock title %}

{% block contents %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>로그인 화면</h1>
        <div>
            <div>
                <h2>이름</h2>
                <input name="username" type="text" required>
                <h2>비밀번호</h2>
                <input name="password" type="password" required>
            </div>
            <button type="submit">로그인</button>
        </div>
    </form>    
{% endblock contents %}