<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>로그인 화면</h1>
        <div>
            <div>
                <h2>이름</h2>
                <input name="username" type="text" required>
                <h2>비밀번호</h2>
                <input name="password" type="password" required>
            </div>
            <button type="submit">로그인</button>
        </div>
    </form>    
</body>
</html>