{% extends "base.html" %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
    <title>login</title>
{% endblock title %}

{% block contents %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>로그인 화면</h1>
        <div>
            <br />
            <div>
                <h3 style="display: inline; ">이름 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3>
                <input name="username" type="text" required> <br />
                <h3 style="display: inline;">비밀번호 &nbsp;</h3>
                <input name="password" type="password" required>
            </div>
            <br />
            <button type="submit">로그인</button>
        </div>
    </form>    
{% endblock contents %}