{% extends "base2.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
<title>Parking Lot Page</title>
{% endblock title %}

{% block contents %}
주차 페이지

<h3 class="my-3 border-bottom pb-2">확인 필드</h3>
<style>
    .left-box {
      
      float: left;
      width: 50%;
    }
    .right-box {
      
      float: right;
      width: 50%;
    }
    </style>
    <div class='left-box'>직원 차량 확인 필드 <br>
        {% if form1 %}
            <ul>
                {% for EmployeesParkingSystem in form1 %}
                    <li>{{ EmployeesParkingSystem.car_plate_number }}</li>
                    employee = {{ EmployeesParkingSystem.employee }}<br>
                    car_plate_number = {{ EmployeesParkingSystem.car_plate_number }}<br>
                    parking_location = {{ EmployeesParkingSystem.parking_location }}<br>
                    parking_in_timestamp = {{ EmployeesParkingSystem.parking_in_timestamp }}<br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    <div class='right-box'>고객 차량 확인 필드 <br>
        {% if form2 %}
            <ul>
                {% for CustomerParkingSystem in form2 %}
                    <li>{{ CustomerParkingSystem.car_plate_number }}</li>
                    check_in = {{ CustomerParkingSystem.check_in }}<br>
                    car_plate_number = {{ CustomerParkingSystem.car_plate_number }}<br>
                    parking_location = {{ CustomerParkingSystem.parking_location }}<br>
                    parking_in_timestamp = {{ CustomerParkingSystem.parking_in_timestamp }}<br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock contents %}