{% extends "base2.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
<title>Parking Lot Page</title>
{% endblock title %}

{% block contents %}
주차 페이지
<h3 class="my-3 border-bottom pb-2">고객 주차 서비스</h3>
    {% csrf_token %}
    {{ form.as_p }}

<h3 class="my-3 border-bottom pb-2">직원 주차 서비스</h3>
    {% csrf_token %}
    {{ form.as_p }}   

<h3 class="my-3 border-bottom pb-2">확인 필드</h3>
<style>
    .left-box {
      
      float: left;
      width: 50%;
    }
    .right-box {
      
      float: right;
      width: 50%;
    }
    </style>
    <div class='left-box'>직원 차량 확인 필드 <br>
        {% if form1 %}
            <ul>
                {% for EmployeesParkingSystem in form1 %}
                    <li><a href="{% url 'parking_lot_detail' EmployeesParkingSystem.employees_parking_history_id  %}">{{ EmployeesParkingSystem.car_plate_number }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    <div class='right-box'>고객 차량 확인 필드 <br>
        {% if form2 %}
            <ul>
                {% for CustomerParkingSystem in form2 %}
                    <li><a href="{{ CustomerParkingSystem.car_plate_number }}/">{{ CustomerParkingSystem.car_plate_number }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock contents %}