{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>signup</title>
{% endblock title %}

{% block contents %}
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1>회원가입 화면</h1>
        <div>
            <div>
                <h2>이름 : <input name="username" type="text" required></h2>
                <h2>비밀번호 : <input name="password1" type="password" required></h2>
                <h2>비밀번호 확인 : <input name="password2" type="password" required></h2>
            </div>
            <br>
            <button type="submit">회원가입</button>
        </div>
    </form>
{% endblock contents %}