[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi -i /srv/DB_is_Free-Hotel_DB_System/function/function/.config/uwsgi/function.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target